form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 50%;
  border: 1px solid #777;
  padding: 1em;
  margin: 3em auto;
}
.form-field {
  min-width: 50%;
}
.form-field span {
  text-transform: capitalize;
}
.form-field label {
  display: flex;
  justify-content: space-between;
}
.form-field select,
.form-field input {
  min-width: 15em;
}
#result_box {
  width: 30%;
  margin: 0 auto;
}